.waves-background {
  position: relative;
  z-index: 0;
}

.waves-container-local {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;

  background-color: rgb(var(--color-primary-300));
  --waves-line-color: rgba(var(--color-primary-700), 0.4);
}

.dark .waves-container-local {
  background-color: rgb(var(--color-primary-600));
  --waves-line-color: rgba(var(--color-primary-200), 0.4);
}

.waves-canvas-local {
  display: block;
  width: 100%;
  height: 100%;
}