/* waves background */
.waves-background {
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.waves-container-local {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;

  background-color: rgb(var(--color-primary-300), 0.3);
  --waves-line-color: transparent;
}

.dark .waves-container-local {
  background-color: rgb(var(--color-primary-600), 0.3);
  --waves-line-color: transparent;
}

.waves-canvas-local {
  display: block;
  width: 100%;
  height: 100%;
}
